<div id="hero" class="flex align-center">
    <div class="container">
        <div id="hero-txt">
            <span class="span-intro">Since 2020</span>
            <h1 #maquinaEscribir></h1>
            <p>Más de 3 años trabajando con tecnologías Frontend y Backend, especializado en Angular,destaca mi capacidad de aprendizaje y adaptación al cambio, así como una actitud proactiva, perseverante y apasionada por la tecnología.</p>
            <p>Me motiva desarrollar software como una herramienta para solucionar problemas y satisfacer necesidades, tanto a nivel personal como empresarial, garantizando siempre innovación y eficiencia en cada solución implementada.</p>
            <button class="btn-principal">
                <a href="{{_environment.base_url}}#trayectoria">
                    Conoce un poco más sobre mí
                </a>
            </button>
        </div>
        <div id="hero-logos" class="flex align-center justify-around">
            <picture class="hero-logo">
                <img src="assets/images/logos/duacode.svg" alt="logo-duacode"/>
            </picture>
            <picture class="hero-logo">
                <img src="assets/images/logos/logo-ica.svg" alt="logo-ica"/>
            </picture>
            <picture class="hero-logo">
                <img src="assets/images/logos/atos.webp" alt="logo"/>
            </picture>
        </div>
    </div>
    <picture class="hero-background" id="hero-lg">
        <img src="assets/images/hero.webp" alt="hero-lg">
    </picture>
    <picture class="hero-background" id="hero-md">
        <img src="assets/images/hero-md.webp" alt="hero-md">
    </picture>
    <picture class="hero-background" id="hero-xs">
        <img src="assets/images/hero-xs.webp" alt="hero-xs">
    </picture>
</div>
