<div class="banner-container background-corp flex align-center justify-around">
    <picture class="flex align-end">
        <img src="{{imgSrc}}"  alt="Imagen Banner" />
    </picture>
    <div class="blq-dcha flex align-around flex-column">
        <h2 class="banner-tit">{{titulo}}</h2>
        <p class="banner-txt">{{texto}}</p>
        <button class="btn-principal">
            <a href="{{btnLnk}}" target="_blank">
                {{btnTxt}}
            </a>
        </button>
    </div>
</div>
